<header>
    <div class="header-logo" (click)="onHeaderLogoClick('mainPage')">Form</div>
    <div class="header-items">
      <div class="header-item" (click)="onHeaderItemClick('Form')">Form</div>
      <div class="header-item" (click)="onHeaderItemClick('Questions')">Questions</div>
      <div class="header-item" (click)="onHeaderItemClick('Answers')">Answers</div>
      <div class="header-item" (click)="onHeaderItemClick('Form Settings')">Form Settings</div>
    </div>
    <div class="header-settings">Account</div>
  </header>
  