body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  max-width: 100vw; /* Ekran genişliği kadar sınırlar */
  overflow-x: hidden; /* Yatay scroll'u engellemek için */
  margin: 0; /* Sayfa kenar boşluklarını kaldırır */
}

.container {
  max-width: 100vw; /* Ekran genişliği kadar sınırlar */
  margin: 0 auto; /* Sayfayı yatayda ortalar */
}

