<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-4">
  <h2>View Form</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="flex flex-column gap-2">
          <input placeholder="Form ID" pInputText id="formId" aria-describedby="form-help" [(ngModel)]="formId" />
          <small id="username-help">Enter your form ID.</small>
        </div>
      </div>
    </div>
      <p-button label="Get Form" (click)="getFormId()" styleClass="p-button-sm"></p-button>
  </div>
  <div *ngIf="formData.id != 1" class="mt-4">
    <div class="body-content">
      <h3 class="mb-4">Form ID: {{formId}}</h3>
      <div class="form-group">
        <p><strong>Title:</strong> {{ formData.title }}</p>
      </div>
      <div class="form-group">
        <p><strong>Subtitle:</strong> {{ formData.subTitle }}</p>
      </div>
    </div>
    <hr>
    <div>
      <div class="form-group">
        <div *ngFor="let question of formData.questions; let i = index">
          <h6 class="mt-4"><strong>Question {{i + 1}}</strong></h6>
          <div *ngIf="question.questionType === '2'">
            <p>{{ question.description }}</p>
            <div *ngFor="let option of question.options; let optionIndex = index">
              <p><strong>{{optionIndex + 1}}:</strong> {{ option.description }}</p>
            </div>
          </div>
          <div *ngIf="question.questionType === '1'">
            <p>{{ question.description }}</p>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>